<section class="todolist-page">
  <h2><a [href]="'https://jsonplaceholder.typicode.com/todos?limit='+limit">
    https://jsonplaceholder.typicode.com/todos?limit={{limit}}
  </a></h2>
  <label for="limit">Лимит записей</label>
  <input id="limit" type="number" [(ngModel)]="limit" #limitInput>
  <div class="todolist-page__validation-error" *ngIf="limit >= 200">Максимальный лимит записей: 200</div>
  <div *ngFor="let todo of todos; trackBy:trackByTodoId" class="todo">
    <div *ngFor="let field of todo | keyvalue; trackBy:trackByFieldName">
      <p><strong>{{field.key}}: </strong>{{field.value}}</p>
    </div>
  </div>
</section>
