.product {
  margin: 20px;
  display: inline-block;

  &__container {
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  &__title {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image-block {
    height: 300px;
    width: 300px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    filter: brightness(1);
    user-select: none;
  }

  &__image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.1s ease-in;
  }

  &__chosen {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px 10px 5px;
    border-radius: 10px;
    color: white;
    background-color: firebrick;

    img {
      width: 30px;
    }
  }

  &:hover {
    .product {
      &__image-block {
        filter: brightness(0.9);
      }
      &__image {
        transform: scale(0.9);
      }
    }
  }
}
