<header>
  <div class="header__ls">
    <img src="../assets/images/angular.svg" alt="">
    <div>
      <h1>Angular Sandbox</h1>
      <p>Дата: <strong>{{date | date : 'd MMMM YYYY, HH:mm:ss':undefined:'ru'}}</strong></p>
    </div>
  </div>
  <div class="header__rs" *ngIf="currentUser">
    <p>Вы вошли как <strong>{{currentUser.name}}</strong></p>
    <p>Ваш список желаний включает в себя <strong>{{currentUser.preferences.size}}</strong> товар(-ов)</p>
  </div>
</header>
<main>
  <div class="sandbox">
    <input type="number" [(ngModel)]="fromValue">
    <select name="fromUnit" id="fromUnit" [(ngModel)]="fromUnit">
      <option *ngFor="let unit of distanceUnitsArray" [value]="unit">{{unit}}</option>
    </select>
    to
    <select name="toUnit" id="toUnit" [(ngModel)]="toUnit">
      <option *ngFor="let unit of distanceUnitsArray" [value]="unit">{{unit}}</option>
    </select>
    {{(fromValue || 0) + fromUnit}}
    = {{fromValue | distance : fromUnit : toUnit : '1.0-3'}}
    <!--    <div *ngFor="let to_do of fetchedTodos | async">
          <div *ngFor="let field of to_do | keyvalue">
            <p><strong>{{field.key}}: </strong>{{field.value}}</p>
          </div>
        </div>-->
    <!--<input
      name="input"
      autocomplete="off"
      *ngFor="let input of inputs; let i = index; trackBy: trackByInputs"
      [(ngModel)]="inputs[i]"
      (ngModelChange)="inputTyped($event)"
      type="text"
      (change)="inputChanged($event)"
    >
    <button type="button" (click)="clearInput()">Очистить</button>
    <ng-container *ngIf="inputs[1]!==''">
      <div *ngIf="inputs[0]===inputs[1]; else errorBlock" class="successText">инпуты идентичны!</div>
      <ng-template #errorBlock>
        <div class="errorText">инпуты должны быть идентичны</div>
      </ng-template>
    </ng-container>
    <ng-template [ngIf]="true">
      <div [tooltip]="inputs[0]">{{(inputs[0] | slice:0:5 | uppercase) + (inputs[0] | slice:5 | lowercase)}}</div>
    </ng-template>-->
  </div>
  <div>
    <app-product
      *ngFor="let product of products;
      trackBy: trackByProducts"
      [product]="product"
      (choose)="chooseProduct(product.id)"
    />
  </div>
</main>
