.product {
  margin: 20px;
  display: inline-block;

  &__container {
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  &__title {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image-block {
    height: 300px;
    width: 300px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    filter: brightness(1);
    user-select: none;
  }

  &__image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.1s ease-in;
  }

  &__choose {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px 10px 5px;
    border-radius: 10px;
    transition: 0.1s;

    img {
      width: 30px;
    }

    &__chosen {
      background-color: firebrick;
      animation: downScale 0.4s;
    }

    &__not-chosen {
      display: none;
      background-color: black;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  &:hover {
    .product {
      &__image {
        transform: scale(1.1);
      }

      &__choose {
        &__not-chosen {
          display: block;
        }
      }
    }
  }
}

@keyframes downScale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
