<nav [ngClass]="{'visible': navIsVisible}" (click)="onNavButtonClick()">
  <ul>
    <li
      [routerLink]="['products']"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active"
    >
      Товары
    </li>
    <li [routerLink]="['profile']" routerLinkActive="active">Мой профиль</li>
    <li [routerLink]="['distance']" routerLinkActive="active">Калькулятор расстояний</li>
    <li [routerLink]="['todos']" routerLinkActive="active">TodoList API</li>
    <li [routerLink]="['constants']" routerLinkActive="active">Собачий приют</li>
  </ul>
</nav>
